<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="container">
    <h1><%= title %></h1>
    <p><%= text %></p>
     <%= btn %>
  </div>
</div>
