

<div class="container">



    <%= render 'shared/search_bar' %>

    <div class="cards mt-3">
      <% @courses.each do |course| %>
         <%= render 'shared/card' , course: course%>
      <% end %>

    </div>

</div>
