.btn-primary {
  color: white;
  border: 1px solid $secondary;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: $secondary;
}

.btn-primary:hover {
  opacity: 1;
  background-color: $primary;
}

.btn-secondary {
  color: white;
  border: 1px solid $primary;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: $primary ;
}

.btn-secondary:hover {
  opacity: 1;
  background-color: $secondary;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
